<div class="welcome-wrappers">
  <h1>Please Sign In</h1>
  <%= form_for '/login' do |form| %>
    <div class="input-div">
      <%= form.text_field :username, :class => 'input-fields form-control', :placeholder => "Username" %>
    </div>
    <div class="input-div">
      <%= form.password_field :password, :class => 'input-fields form-control', :placeholder => "Password" %>
    </div>
    <div id="sign-in-div">
      <%= form.submit "Sign In", :id => "sign-in-button", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
