
body {
  font-family: "Georgia";
  background-image: url(asset_path('application_background.jpg'));
  background-attachment: fixed;
  background-size: cover;
  display: block;
    
}

#credit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: xx-small;
}

#sign-in-div {
  width: 100%;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sign-in-button {
  width: 50%;
}
.input-fields {
  width: 50%;
}

.input-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.welcome-wrappers {
  background-color: white;
  border-radius: 10px;
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-top: 40px;
}

h1 {
  text-align: center;
}